
.view{
  position: absolute;
  left: -200px;
  right: 0;
  bottom: 0;
  top: 12px;
}

.content-previrw{
  width: 100%;
  /* max-width: 100%; */
  margin: 0 auto;
  min-height: 603px;
  background-color: #f7f8fa;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 10%);
}

.main {
  min-height: 400px;
}